/*Exrecice 2*/
table {
    border: 1px solid black;
    width: 60%;
}

#ligne1{
    font-size: 24px;
}

td{
    text-align: center;
    border: 1px solid black;
    width: 20%; 
}


/*Exrecice 3*/
#menu1{
    margin: 0;
    padding: 10px;
    list-style: none;
    text-align: center;
}

#menu1 li{
    display: inline-block;
    padding-right: 20px;
}

#menu1 li a:hover{
    background-color: yellow;
}

#menu1 li a{
    padding: 5px 15px 5px 15px;
    border: 1px dotted black;
    border-radius: 10px;
}

/*Exercice 4*/
#tableau2{
    border: 6px dashed black;
    width: 20%;
    text-align: left;
}

#tableau2 td{
    border: 2px solid red;
}

/*Exercice 5*/
body{
    background-image: url('blue-sky.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

img{
    border: 4px solid red;
    height: 25%;
    width: 25%;
}


